@import "colors.scss";

#about {
	.site-main {
		padding: 0 40px;
		width: 90%;
		margin: 0 auto;

		@media only screen and (max-width: 812px) {
			padding: 0 20px;
			width: 100%;
		}

		.entry-header {
			display: none;
		}

		.page {
			margin: 0;
		}

		.entry-content {
			text-align: center;

			h2 {
				text-align: center;
				font-family: "Open Sans";
				font-size: 30px;
				font-weight: bold;
				line-height: 26px;
				text-transform: uppercase;
				color: $black;
			}

			h3 {
				font-family: "Open Sans";
				font-size: 18px;
				font-weight: lighter;
				line-height: 26px;
				text-transform: uppercase;
				color: $medium_grey;
			}

			h4 {
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 400;
				line-height: 22px;
				color: $medium_grey;
			}

			@media only screen and (max-width: 812px) {
				h2 {
					font-size: 24px;
					line-height: 20px;
				}

				h3 {
					font-size: 15px;
					line-height: 21px;
				}

				h4 {
					font-size: 12px;
					line-height: 18px;
				}
			}
		}

		.philosophies {
			display: flex;
			flex-direction: row;
			justify-content: center;

			li {
				list-style-type: none;
				padding: 5px 20px;
				flex: 0 0 33.3%;

				.custom-html-widget {
					.number {
						font-family: "Open Sans";
						font-size: 70px;
						font-weight: bold;
						line-height: 76px;
						color: $dark-orange;
						margin: 0;
						padding: 0;
					}

					.title {
						font-family: "Open Sans";
						font-size: 16px;
						font-weight: normal;
						line-height: 26px;
						color: $black;
						margin: 10px 0;
					}

					.description {
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: normal;
						line-height: 22px;
						color: $medium_grey;
					}
				}
			}

			@media only screen and (max-width: 414px) {
				flex-direction: column;

				li {
					padding: 5px;
					flex: none;
					margin: 0;
				}
			}

			@media only screen and (max-width: 812px) {
				li {
					.custom-html-widget {
						.number {
							font-size: 40px;
							line-height: 50px;
						}

						.title {
							font-size: 14px;
							line-height: 20px;
						}

						.description {
							font-size: 12px;
							line-height: 21px;
						}
					}
				}
			}
		}
	}
}