$black: #323232;
$white: #fff;
$teal: #39bcb6;
$red: #ed1c24;
$teal-green: #5ea29d;
$lime-green: #95c93d;
$dark-lime-green: #adaf36;
$orange: #f89b1c;
$dark-orange: #ef7b22;
$yellow: #f7d20d;
$purple: #b1218a;
$grey: #6e7c7c;
$medium_grey: #686868;
$light_grey: #bdbdbd;