@import "colors.scss";

#contact {
	.site-main {
		.entry-header {
			display: none;
		}

		.page {
			margin: 0;
		}

		.contact-us {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-top: 20px;
			padding: 0 40px;
			width: 90%;
			margin: 0 auto;


			.contact,
			.hours {
				flex: 0 0 50%;
				max-width: 50%;
				padding-bottom: 20px;

				li {
					list-style-type: none;
					max-width: 350px;
					margin: 0 auto;

					h2 {
						text-align: left;
						font-family: "Open Sans";
						font-size: 30px;
						font-weight: bold;
						line-height: 26px;
						text-transform: uppercase;
						color: $black;
					}

					p {
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 400;
						line-height: 22px;
						color: $medium_grey;
					}
				}
			}

			.contact {
				li {
					a {
						color: $lime-green;

						&:hover {
							color: $lime-green;
							text-decoration: underline;
						}
					}
				}
			}

			.hours {
				ul {
					margin: auto;
					padding: 0;

					li {
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 400;
						line-height: 22px;
						color: $medium_grey;

						span {
							display: inline-block;
							margin-right: 15px;
						}
					}
				}
			}
		}

		@media only screen and (max-width: 812px) {
			.contact-us {
				flex-direction: column;
				flex-wrap: nowrap;
				text-align: center;

				.contact,
				.hours {
					flex: 0 0 100%;
					max-width: 100%;

					li {
						h2 {
							font-size: 24px;
							line-height: 20px;
							text-align: center;
						}

						p {
							font-size: 12px;
							line-height: 18px;
						}
					}
				}

				.hours {
					ul {
						li {
							font-size: 12px;
							line-height: 18px;
						}
					}
				}
			}
		}

		.google-map {
			margin: 0;
			height: 350px;
			padding: 0;
		}

		.contact-form {
			padding: 20px;
			width: 100%;
			background: $light_grey;

			.contact-wrapper {
				max-width: 1100px;
				display: flex;
				flex-direction: row;
				margin: 0 auto;


				@media only screen and (max-width: 812px) {
					flex-direction: column;
				}

				.get-in-touch {
					flex: 0 0 270px;

					@media only screen and (max-width: 812px) {
						flex: none;
						width: 100%;
					}

					h2 {
						text-align: left;
						font-family: "Open Sans";
						font-size: 30px;
						font-weight: bold;
						line-height: 26px;
						text-transform: uppercase;
						color: $black;
						margin: 10px 0 20px 0;
					}

					p {
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 400;
						line-height: 22px;
						color: $medium_grey;
						margin: 5px 0;
					}

					@media only screen and (max-width: 812px) {
						h2 {
							font-size: 24px;
							line-height: 20px;
							text-align: center;
						}

						p {
							font-size: 12px;
							line-height: 18px;
							text-align: center;
						}
					}
				}

				li {
					list-style-type: none;
					width: 100%;
					margin-left: 20px;

					@media only screen and (max-width: 812px) {
						flex: none;
						margin-left: 0;
					}

					form {
						width: auto;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;

						p {
							flex: 0 0 47%;

							label {
								font-family: "Open Sans";
								font-size: 14px;
								font-weight: 400;
								line-height: 22px;
								color: $medium_grey;
								margin-right: 10px;

								input {
									width: 98%;
									height: 40px;
									-webkit-appearance: none;
									border: 1px solid $light_grey;
								}

								textarea {
									width: 98%;
									height: 150px;
									-webkit-appearance: none;
									border: 1px solid $light_grey;
								}
							}

							input[type="submit"] {
								-webkit-appearance: none;
								background: $orange;
								border: none;
								color: $white;
								padding: 12px 30px;
								text-transform: uppercase;
								font-family: "Open Sans";
								font-size: 14px;
								font-weight: 400;
								line-height: 22px;
								margin-top: 25px;
							}

							@media only screen and (max-width: 812px) {
								label {
									font-size: 12px;
									line-height: 18px;
								}

								input[type="submit"] {
									font-size: 12px;
									line-height: 18px;
								}
							}
						}
					}
				}
			}
		}
	}
}