@import "colors.scss";

.site-footer {
	display: flex;
	flex-direction: row;
	background-color: $black;
	width: 100%;
	height: auto;
	color: $white;
	border-top: 6px solid $red;
	padding: 30px 40px 20px 40px;

	@media only screen and (max-width: 812px) {
		flex-direction: column;
		padding: 20px;
	}

	.left-logo-area,
	.right-area {
		flex: 1;
		padding: 0 20px 20px;
		text-align: center;

		h3 {
			font-family: "Open Sans";
			font-size: 20px;
			font-weight: normal;
			line-height: 29px;
			margin: 0 0 10px 0;
		}

		@media only screen and (max-width: 812px) {
			/* For mobile phones: */
			flex: none;
			text-align: center;
			width: 100%;
			height: auto;
			padding: 5px 20px;
			margin: 10px 0;
		}
	}

	.center-area {
		width: auto;
		padding: 0 30px 20px;
		text-align: center;
		max-width: 350px;

		h3 {
			font-family: "Open Sans";
			font-size: 20px;
			font-weight: normal;
			line-height: 29px;
			margin: 0 0 10px 0;
		}

		@media only screen and (max-width: 812px) {
			/* For mobile phones: */
			flex: none;
			text-align: center;
			width: 100%;
			height: auto;
			padding: 5px 20px;
			margin: 10px 0;
			max-width: 100%;
		}
	}

	.left-logo-area {
		#custom_html-3,
		#custom_html-14 {
			max-width: 300px;
			margin: 0 auto;
		}

		.custom-html-widget {
			text-align: left;

			@media only screen and (max-width: 812px) {
				/* For mobile phones: */
				text-align: center;
				max-width: 350px;
				margin: 0 auto;
			}

			.visit-wrapper {
				font-family: "Open Sans";
				font-size: 14px;
				line-height: 20px;

				.address {
					.address-icon {
						width: 25px;
						display: inline-block;
						height: 35px;

						i {
							font-size: 22px;
						}
					}
				}

				.phone {
					.phone-icon {
						width: 25px;
						display: inline-block;
						height: 35px;

						i {
							font-size: 22px;
						}
					}
				}
			}
		}
	}

	.right-area {
		#woocommerce_products-3 {
			.product_list_widget {
				li {
					max-width: 300px;
					margin: 0 auto;

					a {
						color: $white;

						img {
							width: 65px;
						}
					}
				}
			}

			@media only screen and (max-width: 812px) {
				/* For mobile phones: */
				text-align: center;
				max-width: 350px;
				margin: 0 auto;
			}
		}
	}

	.center-area {
		.custom-html-widget {
			text-align: left;

			@media only screen and (max-width: 812px) {
				/* For mobile phones: */
				text-align: center;
				max-width: 350px;
				margin: 0 auto;
			}

			ul {
				padding: 0;
				margin: 0;

				li {
					list-style-type: none;
					font-family: "Open Sans";
					font-size: 14px;
					line-height: 20px;

					span {
						display: inline-block;
						margin-right: 15px;
					}
				}
			}
		}
	}
}