@import "colors.scss";

body {
	width: 100%;
	padding: 0;
	margin: 0;

	&.page {
		margin: 0;
	}

	.site-content {
		min-height: 500px;
	}

	.xoo-cp-container {
		.xoo-cp-btns {
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
}