@import "colors.scss";

.site-header {
	display: flex;
	width: 100%;
	height: 130px;
	border-bottom: 4px solid $teal-green;
	background-image: url("http://mariaslancaster.com/develop.mariaslancaster.com/chad/wp-content/themes/marias/assets/images/Marias-header-bkg.jpg");
	background-repeat: repeat-x;
	background-size: contain;
	padding: 0 40px;

	.site-branding {
		width: 285px;
		height: 100%;
		padding: 10px 20px 5px 30px;

		.custom-logo-link {
			display: block;
		}

		.custom-logo {
			width: 285px;
		}

		.site-title,
		.site-description {
			display: none;
		}
	}

	.main-navigation {
		flex: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		margin-right: 30px;

		.menu-main-menu-container {
			height: 100%;

			ul.nav-menu {
				height: 100%;
				width: auto;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;

				li {
					height: 100%;

					a {
						color: $red;
						display: block;
						text-decoration: none;
						text-transform: uppercase;
						font-family: "Open Sans";
						font-size: 13px;
						font-weight: bold;
						letter-spacing: 1.1px;
						line-height: 20px;
						text-align: center;
						padding: 90px 15px 20px 10px;
						height: 100%;

						&:hover,
						&:focus,
						&:active {
							color: $white;
							background-color: $yellow;
						}
					}

					&.current_page_item {
						a {
							color: $white;
							background-color: $yellow;
						}
					}

					&.menu-item-has-children {
						a {
							&:after {
								color: $red;
								font-family: "Font Awesome 5 Free";
								font-size: 13px;
								font-weight: 900;
								content: "";
								font-style: normal;
								font-variant: normal;
								text-rendering: auto;
								-webkit-font-smoothing: antialiased;
								text-decoration: none;
								margin-left: 8px;
								top: 1px;
								position: relative;
							}
						}
					}

					&:hover {
						ul.sub-menu {
							background: $white;
							border-top: 4px solid $teal-green;
							width: auto;
							height: auto;

							li {
								a {
									padding: 10px;

									&::after {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}