@import "colors.scss";

.site-content {
	.content-area {
		.site-main {
			.slider {
				width: 100%;
				height: auto;
				margin: 0;
				padding: 0;

				@media only screen and (max-width: 812px) {
					display: none;
				}

				.flexslider {
					margin: 0;
					padding: 0;

					.flex-control-nav {
						bottom: 15px;
					}
				}
			}

			section {
				width: 100%;
				padding: 20px 80px;
				text-align: center;

				@media only screen and (max-width: 812px) {
					padding: 10px 20px;
				}

				h2 {
					font-family: "Open Sans";
					font-size: 30px;
					font-weight: bold;
					line-height: 26px;
					text-transform: uppercase;
					margin: 10px 0 20px;
				}

				@media only screen and (max-width: 812px) {
					h2 {
						font-size: 23px;
						line-height: 24px;
					}
				}
			}

			.welcome {
				height: auto;
				display: block;
				background-color: $orange;

				h2 {
					color: $white;
				}

				.welcome-content {
					display: flex;
					flex-direction: row;
					justify-content: center;
					max-width: 1080px;
					margin: 0 auto;

					@media only screen and (max-width: 812px) {
						flex-direction: column;
					}

					li {
						list-style-type: none;
					}

					.widget_media_image {
						width: 350px;
						height: auto;
						margin: 0 20px 0 0;

						@media only screen and (max-width: 812px) {
							width: 100%;
							margin: 0;
						}
					}

					.widget_text {
						flex: 1;
						text-align: left;

						@media only screen and (max-width: 812px) {
							margin: 10px 20px;
						}

						p {
							font-family: "Open Sans";
							font-size: 16px;
							line-height: 26px;
							color: $white;
							margin-top: 0;

							@media only screen and (max-width: 812px) {
								font-size: 14px;
								line-height: 22px;
							}
						}
					}
				}
			}

			.service {
				height: auto;
				background-color: $white;

				@media only screen and (max-width: 812px) {
					padding: 10px 20px 20px 20px;
				}

				h2 {
					color: $black;
				}

				.service-content {
					display: flex;
					flex-direction: row;
					justify-content: center;
					max-width: 1080px;
					margin: 0 auto;

					@media only screen and (max-width: 414px) {
						flex-direction: column;
						align-items: center;
					}

					li {
						list-style-type: none;
					}

					li#media_image-5,
					li#media_image-8 {
						position: relative;
						width: 250px;
						height: 250px;
						overflow: hidden;

						img {
							position: absolute;
							max-width: 250px;
							width: 250px;
							height: auto;
							top: 50%;
							left: 50%;
							transform: translate( -50%, -50%);
						}
					}

					li#media_image-7 {
						position: relative;
						width: 374px;
						height: 250px;
						overflow: hidden;

						img {
							position: absolute;
							max-width: 374px;
							width: 374px;
							height: auto;
							top: 50%;
							left: 50%;
							transform: translate( -50%, -50%);
						}
					}

					@media only screen and (max-width: 414px) {
						li {
							margin: 0;
							padding: 0;
						}

						li#media_image-7 {
							width: 250px;
							height: 200px;

							img {
								max-width: 250px;
								width: 250px;
							}
						}
					}
				}
			}

			.party-room-rental {
				height: auto;
				background-color: $lime-green;

				h2 {
					color: $white;
				}

				.party-room-rental-content {
					display: flex;
					flex-direction: row;
					justify-content: center;
					max-width: 1080px;
					margin: 0 auto;

					@media only screen and (max-width: 812px) {
						flex-direction: column-reverse;
					}

					li {
						list-style-type: none;
					}

					.widget_media_image {
						width: 350px;
						height: auto;
						margin: 0 0 0 20px;

						@media only screen and (max-width: 812px) {
							width: 100%;
							margin: 0;
						}
					}

					.widget_text {
						flex: 1;
						text-align: left;

						p {
							font-family: "Open Sans";
							font-size: 16px;
							line-height: 26px;
							color: $white;
							margin-top: 0;

							@media only screen and (max-width: 812px) {
								font-size: 14px;
								line-height: 22px;
							}
						}

						.party-room-button {
							background: $red;
							border: none;
							padding: 15px 25px;
							color: $white;
							text-transform: uppercase;
							cursor: pointer;
							font-size: 14px;
							text-decoration: none;
							border-radius: 4px;
						}
					}
				}
			}

			.what-on-the-menu {
				height: auto;
				background-color: $white;

				h2 {
					color: $black;
				}

				.what-on-the-menu-content {
					display: flex;
					flex-direction: row;
					justify-content: center;
					max-width: 1080px;
					margin: 0 auto;

					@media only screen and (max-width: 414px) {
						flex-direction: column;
						align-items: center;
					}

					li {
						list-style-type: none;
					}

					li#media_image-12,
					li#media_image-13,
					li#media_image-14,
					li#media_image-15 {
						position: relative;
						width: 250px;
						height: 250px;
						overflow: hidden;
						margin: 0;

						img {
							position: absolute;
							max-width: 250px;
							width: 250px;
							height: auto;
							top: 50%;
							left: 50%;
							transform: translate( -50%, -50%);
						}
					}

					@media only screen and (max-width: 768px) {
						flex-wrap: wrap;

						li#media_image-12,
						li#media_image-13,
						li#media_image-14,
						li#media_image-15 {
							width: 200px;
							height: 200px;

							img {
								max-width: 200px;
								width: 200px;
							}
						}
					}
				}
			}
		}
	}
}