@import "colors.scss";

#menu {
	header {
		text-align: center;
		width: 100%;
		height: auto;
		background: $red;
		padding: 20px 0;
		margin: 10px 0;

		h1 {
			font-family: "Open Sans";
			font-size: 34px;
			font-weight: normal;
			line-height: 31px;
			text-transform: uppercase;
			color: $white;
		}
	}

	.entry-content {
		padding: 0 40px;
		width: 90%;
		margin: 0 auto;

		h2 {
			font-family: "Open Sans";
			font-size: 24px;
			font-weight: normal;
			line-height: 38px;
			text-align: center;
			text-transform: uppercase;
		}

		.menu-options {
			margin: 30px 0 0 0;

			li {
				list-style-type: none;

				.textwidget.custom-html-widget {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;

					a {
						&:hover {
							opacity: .65;
						}
					}

					.appetizers,
					.beverages,
					.main-courses,
					.desserts {
						display: block;
						padding: 10px 10px 11px;
						width: 280px;
						height: auto;
						margin: 20px;
						border: 1px solid $medium_grey;
						border-radius: 2px;
						color: $white;

						.inner-box {
							.img {

							}

							h3 {
								font-family: "Open Sans";
								font-size: 18px;
								font-weight: lighter;
								line-height: 26px;
								text-transform: uppercase;
								color: $medium_grey;
								text-align: center;
								margin: 5px 0;
							}
						}
					}
				}
			}
		}
	}
}