@import "colors.scss";

#menu-appetizers,
#menu-beverages,
#menu-desserts,
#menu-main-courses,
#menu-salads-sides {
	header {
		h1 {
			font-family: "Open Sans";
			font-size: 34px;
			font-weight: normal;
			line-height: 31px;
			text-transform: uppercase;
			color: $white;
		}
	}

	.entry-content {
		padding: 0 40px;
		width: 90%;
		margin: 0 auto;

		h2 {
			font-family: "Open Sans";
			font-size: 24px;
			font-weight: bold;
			line-height: 38px;
			text-align: center;
			text-transform: uppercase;
		}

		ul.menu-submenu {
			padding: 0;
			margin: 5px 0;
			display: flex;
			flex-direction: row;
			justify-content: center;

			@media only screen and (max-width: 620px) {
				flex-direction: column;
				text-align: center;
			}

			li {
				list-style-type: none;
				padding: 5px 15px;

				a {
					text-decoration: none;
					color: $medium_grey;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.notes {
			text-align: center;
		}

		.menu-items {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin: 20px auto;
			padding-top: 20px;
			border-top: 1px solid $light_grey;

			li {
				flex: 0 0 43.1%;
				padding: 0 0 20px 0;

				&:nth-child(2n) {
					margin-left: 13.8%;
				}

				h2 {
					font-family: "Open Sans";
					font-size: 18px;
					font-weight: lighter;
					line-height: 26px;
					text-transform: uppercase;
					color: $black;
					margin: 0 5px 0 0;
					text-align: left;

					span {
						color: $red;
					}
				}

				p {
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 300;
					line-height: 26px;
					color: $light_grey;
					margin: 0;
					text-align: left;
				}
			}

			@media only screen and (max-width: 812px) {
				flex-direction: column;

				li {
					&:nth-child(2n) {
						margin-left: 0;
					}

					h2 {
						font-size: 16px;
						line-height: 24px;
					}

					p {
						font-size: 12px;
						line-height: 22px;
					}
				}
			}
		}
	}
}

#menu-appetizers {
	header {
		text-align: center;
		width: 100%;
		height: auto;
		background: $yellow;
		padding: 20px 0;
		margin: 10px 0;
	}
}

#menu-beverages {
	header {
		text-align: center;
		width: 100%;
		height: auto;
		background: $orange;
		padding: 20px 0;
		margin: 10px 0;
	}
}

#menu-desserts {
	header {
		text-align: center;
		width: 100%;
		height: auto;
		background: $teal;
		padding: 20px 0;
		margin: 10px 0;
	}
}

#menu-main-courses {
	header {
		text-align: center;
		width: 100%;
		height: auto;
		background: $lime-green;
		padding: 20px 0;
		margin: 10px 0;
	}
}

#menu-salads-sides {
	header {
		text-align: center;
		width: 100%;
		height: auto;
		background: $teal;
		padding: 20px 0;
		margin: 10px 0;
	}
}