@import "colors.scss";

#primary {
	.site-main {
		.entry-header {
			text-align: center;
			width: 100%;
			height: auto;
			background: $teal-green;
			padding: 20px 0;
			margin: 10px 0;

			h1 {
				font-family: "Open Sans";
				font-size: 30px;
				font-weight: bold;
				line-height: 26px;
				text-transform: uppercase;
				color: $white;
			}

			@media only screen and (max-width: 812px) {
				h1 {
					font-size: 24px;
					line-height: 20px;
				}
			}
		}

		.entry-content {
			padding: 0 40px;
			width: 90%;
			margin: 0 auto;

			@media only screen and (max-width: 812px) {
				padding: 0 20px;
				width: 100%;
			}

			.alert {
				color: $red;
				font-family: "Open Sans";
				font-size: 14px;
				line-height: 24px;
			}

			.cta {
				display: flex;
				flex-direction: row;
				justify-content: center;

				.view-rental-room {
					margin: 0 10px;

					a {
						font-family: "Open Sans";
						font-size: 14px;
						line-height: 20px;
						padding: 10px 20px;
						height: auto;
						display: block;
						width: auto;
						margin: 10px 0;
						border-radius: 8px;
						text-transform: uppercase;
						text-decoration: none;
						color: $white;
						background-color: $lime-green;
						text-align: center;
					}
				}

				.view-cart {
					a {
						font-family: "Open Sans";
						font-size: 14px;
						line-height: 20px;
						padding: 10px 20px;
						height: auto;
						display: block;
						width: auto;
						margin: 10px 0;
						border-radius: 8px;
						text-transform: uppercase;
						text-decoration: none;
						color: $white;
						background-color: $red;
						text-align: center;
					}
				}
			}

			.woocommerce {
				form.checkout.woocommerce-checkout {
					.woocommerce-billing-fields,
					.woocommerce-additional-fields {
						h3 {
							font-family: "Open Sans";
							font-size: 18px;
							font-weight: lighter;
							line-height: 26px;
							text-transform: uppercase;
							color: $medium_grey;
						}

						p {
							font-family: "Open Sans";
							font-size: 14px;
							font-weight: 400;
							line-height: 22px;
							color: $medium_grey;
						}
					}

					.form-row {
						input[type="text"],
						input[type="email"],
						input[type="url"],
						input[type="password"],
						input[type="search"],
						input[type="number"],
						input[type="tel"],
						input[type="range"],
						input[type="date"],
						input[type="month"],
						input[type="week"],
						input[type="time"],
						input[type="datetime"],
						input[type="datetime-local"],
						input[type="color"] {
							color: $medium_grey;
							height: 35px;
							-webkit-appearance: none;
							border: 1px solid $light_grey;

							#placeholder {
								color: $medium_grey;
								font-family: "Open Sans";
								font-size: 12px;
								font-weight: 400;
								line-height: 21px;
							}
						}

						textarea {
							color: $medium_grey;
							height: auto;
							-webkit-appearance: none;
							border: 1px solid $light_grey;
						}

						.select2-container .select2-selection--single {
							height: 35px;

							.select2-container--default .select2-selection--single .select2-selection__rendered {
								line-height: 33px;
							}

							.select2-container--default .select2-selection--single .select2-selection__arrow {
								height: 34px;
							}
						}
					}
				}

				.single-product {
					.product {
						.entry-summary {
							margin: 0;

							.price {
								display: none;
							}

							.product_meta {
								display: none;
							}

							.woocommerce-product-details__short-description {
								h3 {
									font-family: "Open Sans";
									font-size: 18px;
									font-weight: lighter;
									line-height: 26px;
									text-transform: uppercase;
									color: $medium_grey;
								}

								p {
									font-family: "Open Sans";
									font-size: 14px;
									line-height: 24px;
									color: $medium_grey;
								}

								ul,
								ol {
									margin: 0 0 0 15px;
									padding: 0;

									li {
										font-family: "Open Sans";
										font-size: 14px;
										line-height: 24px;
										color: $medium_grey;
									}
								}

								@media only screen and (max-width: 812px) {
									h3 {
										font-size: 15px;
										line-height: 21px;
									}

									p {
										font-size: 12px;
										line-height: 21px;
									}

									ul,
									ol {
										li {
											font-size: 12px;
											line-height: 21px;
										}
									}
								}
							}

							form.cart {
								margin-top: 1.5em;

								a.added_to_cart.wc-forward {
									background: $dark-orange;
									border-radius: 3px;
									padding: 7px 20px;
									margin-left: 10px;
									color: $white;
									text-align: center;
									text-decoration: none;
								}
							}
						}

						.wc-tabs-wrapper {
							#tab-description {
								h2 {
									font-family: "Open Sans";
									font-size: 20px;
									font-weight: normal;
									line-height: 38px;
									text-transform: uppercase;
									color: $black;
								}

								h3 {
									font-family: "Open Sans";
									font-size: 18px;
									font-weight: lighter;
									line-height: 26px;
									text-transform: uppercase;
									color: $medium_grey;
								}

								p {
									font-family: "Open Sans";
									font-size: 14px;
									line-height: 24px;
									color: $medium_grey;
								}

								ul,
								ol {
									margin: 0 0 0 15px;
									padding: 0;

									li {
										font-family: "Open Sans";
										font-size: 14px;
										line-height: 24px;
										color: $medium_grey;
									}
								}

								@media only screen and (max-width: 812px) {
									h2 {
										font-size: 18px;
										line-height: 24px;
									}

									h3 {
										font-size: 15px;
										line-height: 21px;
									}

									p {
										font-size: 12px;
										line-height: 21px;
									}

									ul,
									ol {
										li {
											font-size: 12px;
											line-height: 21px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}