@import "colors.scss";

h1 {
	font-family: "Open Sans";
	font-size: 34px;
	font-weight: normal;
	line-height: 31px;
}

h2 {
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: normal;
	line-height: 38px;
}

h3 {
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
}

h4 {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

p {
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 26px;
}